{% extends 'base.html' %}
{% block content %}

<div class="container mt-3">
    <h2>{{'Editar Cliente' if customer else 'Novo Cliente'}}</h2>

    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Nome: </label>
            <input type="text" class="form-control" id="name" name="name" value="{{ customer.name if customer else '' }}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">E-mail: </label>
            <input type="email" class="form-control" id="email" name="email" value="{{ customer.email if customer else '' }}" required>
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">Telefone: </label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{ customer.phone if customer else '' }}" required>
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Endereço: </label>
            <input type="text" class="form-control" id="address" name="address" value="{{ customer.address if customer else '' }}" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="{{url_for('customers')}}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

{% endblock %}